* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Vidaloka", "Asul";
  line-height: 2em;
  background-color: #f1e7dd;
}

/* Sidebar menu */
.sidenav {
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #443530;
  overflow-x: hidden;
  padding-top: 20px;
  outline: 1px solid #584641;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  color: #a39589;
  display: block;
  font-family: "Vidaloka";
}

.sidenav a:hover {
  color: #f1e7dd;
}

/* Pealkiri- Sissejuhatus ja Ajalugu */
.title-box {
  width: 100%;
  background-color: #443530;
  padding: 35px 35px;
}

.title-box h3 {
  font-family: "Vidaloka", serif;
  text-align: center;
  font-size: 36px;
  color: #f1e7dd;
  letter-spacing: 2px;
}

/* Sissejuhatus- Tekst, pildid */
.introduction-box h3 {
  width: 900px;
  height: 100px;
  padding: 25px;
  border: 5px solid #443530;
  margin: 80px 0px 0px 420px;
  background-color: #443530;
  color: #f1e7dd;
  font-family: "Vidaloka";
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}

.introduction-box p {
  width: 900px;
  height: auto;
  padding: 35px;
  border: 5px solid #443530;
  margin: 80px 0px 0px 420px;
  background-color: #443530;
  color: #f1e7dd;
  font-family: "Vidaloka";
  font-size: 24px;
  text-align: left;
  letter-spacing: 2px;
}

.introduction-box img {
  float: right;
  margin-right: 220px;
  margin-top: -550px;
  width: 800px;
  height: 518.33;
  border-radius: 10px;
  box-shadow: 0px 10px 20px #443530;
}
