* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #443530;
  --bg-color: #f1e7dd;
  --text-color: #f1e7dd;

  --accent-col-red: #e3170a;
  --accent-col-green: #497537;
  --accent-col-yellow: #f7b32b;

  --darker-variant-red: #b00b01;
  --darker-variant-green: #2b4f1c;
  --darker-variant-yellow: #b78113;
}

html,
body {
  font-family: "Vidaloka", "Asul";
  line-height: 2em;
  background-color: var(--bg-color);
}

/* Sidebar menu */
.sidenav {
  height: 100%;
  width: 290px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding-top: 20px;
  outline: 1px solid #584641;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  color: #a39589;
  display: block;
  font-family: "Vidaloka";
}

.sidenav h3 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  color: #a39589;
  display: block;
  font-family: "Vidaloka";
}

.sidenav a:hover {
  color: var(--text-color);
}

.sidenav h3:hover {
  color: var(--text-color);
}

/* Pealkiri- Sissejuhatus ja Ajalugu tumepruuni taustaga */
.title-box-sa {
  width: 100%;
  background-color: var(--primary-color);
  padding: 35px 35px;
}

.title-box-sa h3 {
  font-family: "Vidaloka", serif;
  text-align: center;
  font-size: 36px;
  color: var(--text-color);
  letter-spacing: 2px;
}

/* Sissejuhatuse kast kollase tausta ja kirjastiiliga */
.introduction-box h3 {
  width: 900px;
  height: 100px;
  padding: 25px;
  border: 3px solid var(--darker-variant-yellow);
  margin: 80px 0px 0px 460px;
  background-color: var(--accent-col-yellow);
  color: var(--primary-color);
  font-family: "Vidaloka";
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}

.introduction-box p {
  width: 900px;
  height: auto;
  padding: 35px;
  border: 3px solid var(--darker-variant-yellow);
  margin: 80px 0px 0px 460px;
  background-color: var(--accent-col-yellow);
  color: var(--primary-color);
  font-family: "Asul";
  font-size: 24px;
  text-align: left;
  letter-spacing: 2px;
}

/* Piltide paigutamine ning viidete alla lisamine gridi abil*/
.container-images-int {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 100px;
  margin-left: 460px;
  margin-top: -545px;
  align-items: start;
}

.change-text-int {
  display: flex;
  flex-direction: column;
}

.change-text-int img {
  width: 900px;
  height: 550px;
  border-radius: 10px;
}

.pieta-text-change,
.orph-eury-text-change,
.river-text-change {
  margin-top: 5px;
  text-align: left;
}

/* Viited, linkide ja värvidega */
.pieta-text-change {
  color: var(--accent-col-yellow);
}

.pieta-text-change a {
  color: var(--darker-variant-yellow);
}

.orph-eury-text-change {
  color: var(--accent-col-red);
}

.orph-eury-text-change a {
  color: var(--darker-variant-red);
}

.river-text-change {
  color: var(--accent-col-green);
}

.river-text-change a {
  color: var(--darker-variant-green);
}

/* Pieta üleval paremal */
.change-text-int:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

/* Orpheus all vasakul */
.change-text-int:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

/* River all paremal */
.change-text-int:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}

/* Piltide suuruste lisamine */

.mourning-christ-img {
  width: 800px;
  height: 558px;
}

.land-orph-eury-img {
  width: 900px;
  height: 518px;
}

.river-landscape-img {
  width: 800px;
  height: 518px;
}

/* Ajaloo kast rohelise tausta ja kirjastiiliga */
.history-box h3 {
  width: 900px;
  height: 100px;
  padding: 25px;
  border: 3px solid var(--darker-variant-green);
  margin: 80px 0px 0px 1455px;
  background-color: var(--accent-col-green);
  color: var(--text-color);
  font-family: "Vidaloka";
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}

.history-box p {
  width: 900px;
  height: auto;
  padding: 35px;
  border: 3px solid var(--darker-variant-green);
  margin: 100px 0px 0px 1455px;
  background-color: var(--accent-col-green);
  color: var(--text-color);
  font-family: "Asul";
  font-size: 24px;
  text-align: left;
  letter-spacing: 2px;
}

/* Pildid jaa tekst paigutatud grid süsteemi */

.container-images-his {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 100px;
  margin-left: 525px;
  margin-top: -800px;
  padding: 0px 0px 80px 0px;
  align-items: start;
}

.change-text-his {
  display: flex;
  flex-direction: column;
}

.change-text-his img {
  border-radius: 10px;
}

.mary-text-change,
.banquet-text-change {
  margin-top: 5px;
  text-align: left;
}

/* Viited linkide ja värvidega */
.banquet-text-change {
  color: var(--accent-col-red);
}

.banquet-text-change a {
  color: var(--darker-variant-red);
}

.mary-text-change {
  color: var(--accent-col-yellow);
}

.mary-text-change a {
  color: var(--darker-variant-yellow);
}

/* Banquet all vasakul */
.change-text-his:nth-child(1) {
  grid-column: 1;
  grid-row: 2;
}

/* Mary Üleval vasakul */
.change-text-his:nth-child(2) {
  grid-column: 1;
  grid-row: 1;
}

/* Piltide suuruste lisamine */

.mary-img {
  width: 700px;
  height: 800px;
}

.banquet-img {
  width: 900px;
  height: 518px;
}

/* footeri tekst,tumepruuni taustaga */

footer {
  margin: 80px 0px -20px 0px;
}

footer p {
  width: 100%;
  border: 3px solid var(--primary-color);
  background-color: var(--primary-color);
  padding: 35px 35px;
  font-family: "Vidaloka", serif;
  text-align: center;
  font-size: 36px;
  color: var(--text-color);
  letter-spacing: 2px;
}

/* - */
/* - */
/* - */

/* Pealkiri- Tunnused ja Kunstnikud tumepruuni taustaga*/
.title-box-t {
  width: 100%;
  background-color: var(--primary-color);
  padding: 35px 35px;
}

.title-box-t h3 {
  font-family: "Vidaloka", serif;
  text-align: center;
  font-size: 36px;
  color: var(--text-color);
  letter-spacing: 2px;
}

/* Tunnusete kast punase taustaga */
.traits-box h3 {
  width: 900px;
  height: 100px;
  padding: 25px;
  border: 3px solid var(--darker-variant-red);
  margin: 80px 0px 0px 460px;
  background-color: var(--accent-col-red);
  color: var(--text-color);
  font-family: "Vidaloka";
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}

.traits-box p {
  width: 900px;
  height: auto;
  padding: 35px;
  border: 3px solid var(--darker-variant-red);
  margin: 80px 0px 0px 460px;
  background-color: var(--accent-col-red);
  color: var(--text-color);
  font-family: "Asul";
  font-size: 24px;
  text-align: left;
  letter-spacing: 2px;
}

/* Piltide paigutamine gridi põhjal */
.container-images-tra {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 80px;
  margin-left: 1450px;
  margin-top: -710px;
  align-items: start;
}

.change-text-tra {
  display: flex;
  flex-direction: column;
}

.change-text-tra img {
  border-radius: 10px;
}

.sabine-text-change,
.procuress-text-change,
.swing-text-change {
  margin-top: 5px;
  text-align: left;
}

/* Viited, linkide ja värvidega */
.sabine-text-change {
  color: var(--accent-col-yellow);
}

.sabine-text-change a {
  color: var(--darker-variant-red);
}

.procuress-text-change {
  color: var(--accent-col-red);
}

.procuress-text-change a {
  color: var(--darker-variant-yellow);
}

.swing-text-change {
  color: var(--accent-col-green);
}

.swing-text-change a {
  color: var(--darker-variant-green);
}

/* Sabine */
.change-text-tra:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

/* Procuress */
.change-text-tra:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

/* Swing */
.change-text-tra:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}

/* Piltide suuruste lisamine */

.sabines-img {
  width: 400px;
  height: 300px;
}

.procuress-img {
  width: 400px;
  height: 300px;
}

.swing-img {
  margin-top: -410px;
  width: 450px;
  height: 672px;
}

/* Tunnusete kast kollase taustaga */
.title-box-k h3 {
  width: 1900px;
  height: 100px;
  padding: 35px;
  border: 3px solid var(--darker-variant-yellow);
  background-color: var(--accent-col-yellow);
  margin: 80px 0px 0px 492.5px;
  color: var(--text-color);
  font-family: "Vidaloka";
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}

.artist-box {
  color: var(--text-color);
  font-family: "Asul";
  font-size: 24px;
  text-align: left;
  letter-spacing: 2px;
}

.artist-box {
  display: grid;
  grid-template-columns: repeat(3, 690px);
  margin-left: 31px;
  margin-top: 0px;
  align-items: start;
}

.artist-box p {
  width: 520.33px;
  height: auto;
  padding: 25px;
  border: 3px solid var(--darker-variant-yellow);
  margin: 80px 0px 0px 460px;
  background-color: var(--accent-col-yellow);
}

/* Piltide gridi süsteemi paigutamine üksteise kõrvale */

.container-images-art {
  display: grid;
  grid-template-columns: repeat(3, 690px);
  margin: 80px 0px 0px 490px;
}

.change-text-art {
  display: flex;
  flex-direction: column;
}

.change-text-art img {
  margin: 80px 0px 0px 0px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px var(--primary-color);
}

.massacre-text-change,
.öine-text-change,
.holy-text-change {
  margin-top: 5px;
  text-align: left;
}

/* Viited, linkide ja värvidega */
.massacre-text-change {
  color: var(--accent-col-yellow);
}

.massacre-text-change a {
  color: var(--darker-variant-yellow);
}

.öine-text-change {
  color: var(--accent-col-red);
}

.öine-text-change a {
  color: var(--darker-variant-red);
}

.holy-text-change {
  color: var(--accent-col-yellow);
}

.holy-text-change a {
  color: var(--darker-variant-yellow);
}

/* Piltide suuruste lisamine */

.veresaun-img {
  width: 520.33px;
  height: 358px;
}

.night-img {
  width: 520.33px;
  height: 398px;
}

.family-img {
  width: 520.33px;
  height: 348px;
}

/* - */
/* - */
/* - */

/* Pealkiri- Tähtsus ja Mõju tumepruuni taustaga*/
.title-box-t {
  width: 100%;
  background-color: var(--primary-color);
  padding: 35px 35px;
}

.title-box-t h3 {
  font-family: "Vidaloka", serif;
  text-align: center;
  font-size: 36px;
  color: var(--text-color);
  letter-spacing: 2px;
}

/* Tähtsuse kast punase taustaga */
.importance-box h3 {
  width: 900px;
  height: 100px;
  padding: 25px;
  border: 3px solid var(--darker-variant-red);
  margin: 80px 0px 0px 460px;
  background-color: var(--accent-col-red);
  color: var(--text-color);
  font-family: "Vidaloka";
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}

.importance-box p {
  width: 900px;
  height: auto;
  padding: 35px;
  border: 3px solid var(--darker-variant-red);
  margin: 80px 0px 0px 460px;
  background-color: var(--accent-col-red);
  color: var(--text-color);
  font-family: "Asul";
  font-size: 24px;
  text-align: left;
  letter-spacing: 2px;
}

/* Piltide paigutamine gridi põhjal */
.container-images-imp {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 80px;
  margin-left: 1450px;
  margin-top: -710px;
  align-items: start;
}

.change-text-imp {
  display: flex;
  flex-direction: column;
}

.change-text-imp img {
  border-radius: 10px;
}

.judith-text-change,
.christ-text-change,
.meninas-text-change {
  margin-top: 5px;
  text-align: left;
}

/* Viited, linkide ja värvidega */
.judith-text-change {
  color: var(--accent-col-yellow);
}

.judith-text-change a {
  color: var(--darker-variant-red);
}

.christ-text-change {
  color: var(--accent-col-red);
}

.christ-text-change a {
  color: var(--darker-variant-yellow);
}

.meninas-text-change {
  color: var(--accent-col-green);
}

.meninas-text-change a {
  color: var(--darker-variant-green);
}

/* Piltide suuruste lisamine */

.judith-img {
  width: 400px;
  height: 300px;
}

.christ-img {
  width: 400px;
  height: 300px;
}

.meninas-img {
  width: 450px;
  height: 672px;
}

/* Mõju kast punase taustaga */
.influence-box h3 {
  width: 900px;
  height: 100px;
  padding: 25px;
  border: 3px solid var(--darker-variant-red);
  margin: 80px 0px 0px 460px;
  background-color: var(--accent-col-red);
  color: var(--text-color);
  font-family: "Vidaloka";
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}

.influence-box p {
  width: 900px;
  height: auto;
  padding: 35px;
  border: 3px solid var(--darker-variant-red);
  margin: 80px 0px 0px 460px;
  background-color: var(--accent-col-red);
  color: var(--text-color);
  font-family: "Asul";
  font-size: 24px;
  text-align: left;
  letter-spacing: 2px;
}

/* Piltide paigutamine gridi põhjal */
.container-images-inf {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 80px;
  margin-left: 1450px;
  margin-top: -710px;
  align-items: start;
}

.change-text-inf {
  display: flex;
  flex-direction: column;
}

.change-text-inf img {
  border-radius: 10px;
}

.matteuse-text-change,
.charles-text-change,
.meninas-text-change {
  margin-top: 5px;
  text-align: left;
}

/* Viited, linkide ja värvidega */
.matteuse-text-change {
  color: var(--accent-col-yellow);
}

.matteuse-text-change a {
  color: var(--darker-variant-red);
}

.charles-text-change {
  color: var(--accent-col-red);
}

.charles-text-change a {
  color: var(--darker-variant-yellow);
}

.meninas-text-change {
  color: var(--accent-col-green);
}

.meninas-text-change a {
  color: var(--darker-variant-green);
}

/* Piltide suuruste lisamine */

.matteuse-img {
  width: 400px;
  height: 300px;
}

.charles-img {
  width: 400px;
  height: 300px;
}

.meninas-img {
  width: 450px;
  height: 672px;

  /* - */
  /* - */
  /* - */
}

/* Formide juurde kastide lisamine */

.container-text-contact h1 {
  width: 100%;
  background-color: var(--primary-color);
  padding: 35px 35px;
  margin-top: -33px;
  font-family: "Vidaloka", serif;
  text-align: center;
  font-size: 36px;
  color: var(--text-color);
  letter-spacing: 2px;
}

.form-group {
  margin: 30px 350px 20px 600px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 24px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--text-color);
  background-color: var(--primary-color);
  font-size: 24px;
  font-family: "Asul";
}

.form-group textarea {
  height: 570px;
  color: var(--text-color);
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--text-color);
}

.title-box-g {
  width: 100%;
  background-color: var(--primary-color);
  padding: 35px 35px;
}

.title-box-g h3 {
  font-family: "Vidaloka", serif;
  text-align: center;
  font-size: 36px;
  color: var(--text-color);
  letter-spacing: 2px;
}
